
@* @model List<EcommerceManagementProject.Models.Domain.ProductModel> *@


<html>
<head>
    <style></style>
</head>
<body>
    <h3 class="m-3">All Products</h3>


    <table class="table" style="background-color:lightpink" table-striped-columns">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Product Price</th>
                <th>Is Available</th>
                <th>Is Trending</th>
                <th>Category Name</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var Product in Model)
                {
                    <tr>
                        <td>@Product.ProductName</td>
                        <td>@Product.ProductDesc</td>
                        <td>@Product.ProductPrice</td>
                        <td>@Product.IsActive</td>
                        <td>@Product.IsTrending</td>
                        <td>@Product.Category.CategoryName</td>
                        <td>@Product.ProductCreatedAt.ToString("dd-MM-yyyy")</td>
                        <td>
                            <a class="btn btn-light" style="color:maroon" href="/Product/Update/@Product.ProductId">Edit</a>
                            @if (Product.IsActive)
                            {
                                <a class="btn btn-secondary" style="color:aqua" href="/Product/Deactive/@Product.ProductId">Deactive</a>
                            }
                            else
                            {
                                <a class="btn btn-success" href="/Product/Active/@Product.ProductId">Active</a>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>


</body>
</html>
